apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openbao
  namespace: openbao
spec:
  interval: 5m
  chart:
    spec:
      version: "1.0.0"
      version: ">=0.1.0"
      sourceRef:
        kind: HelmRepository
        name: openbao
        namespace: flux-system
      interval: 1m
  values:
    server:
      service:
        annotations:
          tailscale.com/expose: "true"
