x-common:
  n8n-database-config: &n8n-database-config
    DB_TYPE: "postgresdb"
    DB_POSTGRESDB_DATABASE: "n8n"
    DB_POSTGRESDB_HOST: "postgres"
    DB_POSTGRESDB_PORT: "5432"
    DB_POSTGRESDB_USER: "n8n"
    DB_POSTGRESDB_SCHEMA: "public"
    DB_POSTGRESDB_PASSWORD: "${N8N_DB_PASSWORD}"
services:
  migrations:
    image: postgres:18-alpine
    restart: no
    container_name: n8n-migrations
    command: ["sh", "-c", "/init/init-db.sh"]
    volumes:
      - ./init:/init:ro
    environment:
      !!merge <<: *n8n-database-config
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    networks:
      - backend_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: unless-stopped
    container_name: n8n
    depends_on:
      migrations:
        condition: service_completed_successfully
    volumes:
      - n8n-data:/home/node/.n8n
    environment:
      !!merge <<: *n8n-database-config
      GENERIC_TIMEZONE: "America/Chicago"
      TZ: "America/Chicago"
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
      N8N_RUNNERS_ENABLED: true
      N8N_HOST: automation.admin.ts.${DOMAIN_NAME}
      WEBHOOK_URL: https://automation.admin.ts.${DOMAIN_NAME}
    networks:
      - backend_default
      - core_traefik-public
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.rule=Host(`automation.admin.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.n8n.entrypoints=web,websecure
      - traefik.http.routers.n8n.tls=true
      - traefik.http.routers.n8n.tls.certresolver=cf-ts
      - traefik.http.middlewares.n8n.headers.SSLRedirect=true
      - traefik.http.middlewares.n8n.headers.STSSeconds=315360000
      - traefik.http.middlewares.n8n.headers.browserXSSFilter=true
      - traefik.http.middlewares.n8n.headers.contentTypeNosniff=true
      - traefik.http.middlewares.n8n.headers.forceSTSHeader=true
      - traefik.http.middlewares.n8n.headers.SSLHost=${DOMAIN_NAME}
      - traefik.http.middlewares.n8n.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.n8n.headers.STSPreload=true
      - traefik.http.routers.n8n.middlewares=n8n@docker
      - traefik.http.services.n8n.loadbalancer.server.port=5678
volumes:
  n8n-data:
networks:
  backend_default:
    external: true
  core_traefik-public:
    external: true
