apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  interval: 1h
  chart:
    spec:
      chart: rook-ceph
      version: v1.19.2
      sourceRef:
        kind: HelmRepository
        name: rook-release
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  values:
    crds:
      enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
    csi:
      csiRBDPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              memory: 32Mi
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 64Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 32Mi
      csiRBDProvisionerResource: |
        - name : csi-provisioner
          resource:
            requests:
              memory: 64Mi
        - name : csi-resizer
          resource:
            requests:
              memory: 64Mi
        - name : csi-attacher
          resource:
            requests:
              memory: 64Mi
        - name : csi-snapshotter
          resource:
            requests:
              memory: 64Mi
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 64Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 32Mi
      csiCephFSPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              memory: 32Mi
        - name : csi-cephfsplugin
          resource:
            requests:
              memory: 64Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 32Mi
      csiCephFSProvisionerResource: |
        - name : csi-provisioner
          resource:
            requests:
              memory: 64Mi
        - name : csi-resizer
          resource:
            requests:
              memory: 64Mi
        - name : csi-attacher
          resource:
            requests:
              memory: 64Mi
        - name : csi-snapshotter
          resource:
            requests:
              memory: 64Mi
        - name : csi-cephfsplugin
          resource:
            requests:
              memory: 64Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 32Mi
    monitoring:
      enabled: false # Disable by default unless prometheus is present
