apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  interval: 1h
  chart:
    spec:
      chart: rook-ceph
      version: v1.19.2
      sourceRef:
        kind: HelmRepository
        name: rook-release
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  values:
    crds:
      enabled: true
    monitoring:
      enabled: false # Disable by default unless prometheus is present
