apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: tailscale
spec:
  interval: 5m
  chart:
    spec:
      chart: tailscale-operator
      version: "1.74.0"
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
      interval: 1m
  values:
    oauth:
      clientId: "PLACEHOLDER_CLIENT_ID"
      clientSecret: "PLACEHOLDER_CLIENT_SECRET"
    operatorConfig:
      logging: info
