apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  targetNamespace: traefik
  interval: 1h
  chart:
    spec:
      chart: traefik
      version: 34.4.1 # Latest as of now
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    ingressClass:
      enabled: true
      isDefaultClass: true
    service:
      type: LoadBalancer # Assuming MetalLB or similar provides IP
