apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: flux-system
spec:
  interval: 1h
  chart:
    spec:
      chart: rook-ceph
      version: "1.19.1"
      sourceRef:
        kind: HelmRepository
        name: rook-release
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  targetNamespace: rook-ceph
  values:
    crds:
      enabled: true
