services:
  openbao:
    image: openbao/openbao
    container_name: openbao
    restart: unless-stopped
    volumes:
      - /openbao/config:/openbao/config
    networks:
      - admin_traefik-public
    labels:
      - traefik.enable=true
      - traefik.http.routers.qbittorrent.rule=Host(`vault.admin.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.qbittorrent.entrypoints=websecure
      - traefik.http.routers.qbittorrent.tls=true
      - traefik.http.routers.qbittorrent.tls.certresolver=cf-ts
      - traefik.http.services.qbittorrent.loadbalancer.server.port=8200
    mem_swappiness: 0
